/********** Start Overriding Bootstrap **********/

.nav-tabs {border-bottom: 0!important;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top:0!important;
}
@media (min-width:767px) and (max-width:1024px) {
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding:3px !important;
        vertical-align: middle;
    }
}
.thumbnail {
    padding: 0 !important;
}
/********** End Overriding Bootstrap **********/

/* Main Classes in all pages */

/* media query for profile, view course , view job ==> pages */
@media (max-width: 767px) {
    .profile .profileInfo .profileContent .profileAbout .profileAboutTabs .myTabs li,
    .viewJobDetails .viewCourseTabs .myTabs li,
    .viewCourseDetails .viewCourseTabs .myTabs li,
    .notification .notificationContent .notificationTabs .myTabs li
    {
        width:100%!important;
        height: 50px!important;
    }
}

.coursesPage hr, .formMobileSearch hr{
    border: 1px solid #C0392B; width:150px;
}
/* End Main Classes  */


/* Start Page Courses */

/* Start Section Courses Container */

.coursesPage { 
    padding-bottom: 30px;
    padding-top:30px;
    padding-bottom:30px;
}
.coursesPage .mainSearchBox{margin-bottom: 30px; margin-top:70px;}

.coursesPage .mainSearchBox .mainSearchButtonBox {
    display: inline-block;
    text-align: center;
}
.coursesPage .mainSearchBox .mainSearchButtonBox .searchButton {
    background:#C0392B; 
    color:#FFF; 
    display: inline-block;
}

.coursesPage .mainSearchBox .mainSearchButtonBox .showFilterMobile {background:#C0392B; color:#FFF; margin-top:5px;}

.coursesPage .mainSearchBox .mainSearchButtonBox .showFilterMobile:hover {color:#34495E;}

.coursesPage .mainSearchBox .mainSearchButtonBox .fa-search {color:#FFF}
.coursesPage .coursesContainer {margin-top:0!important}
@media(min-width:769px) {
    .coursesPage .row {margin-right: -8px!important;}
}
.coursesPage .coursesContainer .itemHidden {display: none;}
.coursesPage .coursesContainer .activityCourse
{
     -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 5px 0 #eee;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    height: 450px;
}
.coursesPage .coursesContainer .activityCourseTitle h4 {
    color:#C0392B;
    text-align: center;
}
.coursesPage .coursesContainer .activityCourseOver
{
    position: absolute; 
    top:0; left:0; bottom:0; right:0; width: 100%; height: 100%; 
    background-color: rgba(237, 241, 243, 0.6);
    color:#C0392B;
    padding-top: 170px;
    text-align: center;font-weight: bold;font-size:20px;
    display: none;
}
.coursesPage .coursesContainer .activityCourse .activityCourseOver button {
    margin-top:10px;
}
.coursesPage .coursesContainer .activityCourse .activityCoursePrerequisites {
    color:cadetblue;
}
.coursesPage .coursesContainer .activityCourse .starWrapper {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
}
.coursesPage .coursesContainer .activityCourse .starWrapper .starTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #17aa1c;
}
.coursesPage .coursesContainer .itemHidden {display:none;} 
.coursesPage .coursesContainer .showMore {
    background:#34495E;
    color:#eee;
    box-shadow: 0 0 2px 1px #fff;
    width: 130px;padding: 10px;border-radius: 10px;margin-top: 20px;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition: all .3 ease-in-out;
    border:none;
    margin-bottom:10px;
}
.coursesPage .coursesContainer .showMore:hover{box-shadow: 0 2px 10px 2px #C0392B;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;}
.coursesPage .coursesContainer .activityCourse .table .jobInfo,
.coursesPage .coursesContainer .activityCourse .table .courseInfo{font-weight: bold;}

@media (max-width: 767px) {
    .coursesPage .coursesContainer .activityCourse {
        height: 550px;
    }
}
/*End Section Courses Container */


/* Start mainFilterSearch */

.coursesPage .mainFilterSearch{
    background:#34495E;
    color:#FFF;
    padding-left:10px;
    padding-right: 10px;
    width: 23%;
    overflow-y: scroll;
    position: fixed;
    top:53px;
    height: 90vh;
    -webkit-transition: .9s all ease-in-out;
    -o-transition: .9s all ease-in-out;
    transition: .9s all ease-in-out;
}
.coursesPage .mainFilterSearch .filterButtons {
    width: 100%;
    margin:0;
    display: inline-flex;
    margin-top:10px;
}
.coursesPage .mainFilterSearch .filterButtons p {
    font-size:16px;
    padding-left:17px;
    margin-right: 20px;
    font-weight: bold;
}
.coursesPage .mainFilterSearch .filterButtons .reset {
    width:60px;
    height: 30px;
    padding:0;
    font-size:12px;
    text-align: center;
}
.coursesPage .mainFilterSearch .categoryTitle:hover, .coursesPage .mainFilterSearch .dateTitle:hover,
.coursesPage .mainFilterSearch .languageTitle:hover, .coursesPage .mainFilterSearch .levelTitle:hover,
.coursesPage .mainFilterSearch .fieldTitle:hover, .coursesPage .mainFilterSearch .locationTitle:hover,
.coursesPage .mainFilterSearch .typeTitle:hover{cursor: pointer;}
.coursesPage .mainFilterSearch .categoryTitle span, .coursesPage .mainFilterSearch .dateTitle span, 
.coursesPage .mainFilterSearch .languageTitle span, .coursesPage .mainFilterSearch .levelTitle span,
.coursesPage .mainFilterSearch .fieldTitle span, .coursesPage .mainFilterSearch .locationTitle span,
.coursesPage .mainFilterSearch .typeTitle span{
    vertical-align: baseline;
    font-size: 20px;
    color:#57ff6d;
    margin:0;
    padding: 0;
}
.categoryFilter, .dateFilter, .languageFilter, .levelFilter, .fieldFilter, .locationFilter, .typeFilter{font-size:12px; display: block }

.coursesPage .mainFilterSearch input[type="checkbox"],
.coursesPage .mainFilterSearch input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index:-1;
}
.coursesPage .mainFilterSearch input[type="checkbox"]:checked + .filterListWebLabel::before,
.coursesPage .mainFilterSearch input[type="radio"]:checked + .filterListWebLabel::before {
  top: 0;
  width: 100%;
  height: 100%;
}
.coursesPage .mainFilterSearch .filterListWebLabel::before {
    content: " ";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #E90052;
    border-radius: 50px;
    z-index: 2;
}
.coursesPage .mainFilterSearch .filterListWebLabel {
    position: relative;
    display:block;
    margin-left:5px;
    padding-left:15px;
    line-height: 20px;
    cursor: pointer;
}
/* Checked */
.coursesPage .mainFilterSearch input[type="checkbox"]:checked + .filterListWebLabel,
.coursesPage .mainFilterSearch input[type="radio"]:checked + .filterListWebLabel {
    padding-left: 10px;
    background: #E90052;
    border-radius:50px;
}
/* Transition */
.coursesPage .mainFilterSearch .filterListWebLabel,
.coursesPage .mainFilterSearch .filterListWebLabel::before {
  -webkit-transition: .4s all ease-in-out;
  -o-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
}
@media (min-width:768px) {
    .coursesPage .mainSearchBox .inputSearchMain {width: 350px; position: relative; margin-left:230px;}

}
@media (max-width:767px) {
      .inputSearchMain {
        margin-bottom: 10px;
    }
}

/* End mainFilterSearch */

/* Start filterMobile */

.formMobileSearch .filterMobile {
    display: none;
    background: #34495E;
    color: #FFF;
    padding: 10px;
    margin-top:50px;
    padding-left:20px;
}
.formMobileSearch .categoryTitle , .formMobileSearch .dateTitle ,
.formMobileSearch .languageTitle , .formMobileSearch .levelTitle ,
.formMobileSearch .fieldTitle , .formMobileSearch .locationTitle ,
.formMobileSearch .typeTitle {
    cursor: pointer;
}
.formMobileSearch .categoryTitle span, .formMobileSearch .dateTitle span, 
.formMobileSearch .languageTitle span, .formMobileSearch .levelTitle span,
.formMobileSearch .fieldTitle span, .formMobileSearch .locationTitle span,
.formMobileSearch .typeTitle span{
    vertical-align: baseline;
    font-size: 20px;
    color:#57ff6d;
    margin:0;
    padding: 0;
}
.categoryFilterMobile, .dateFilterMobile, .languageFilterMobile, .levelFilterMobile, .feildFilterMobile, .locationFilterMobile, .typeFilterMobile{font-size:12px; display: block; cursor: pointer;}
.formMobileSearch input[type="checkbox"],
.formMobileSearch input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index:-1;
}
.formMobileSearch input[type="checkbox"]:checked + .formMobileSearch .filterListWebLabelMobile::before,
.formMobileSearch input[type="radio"]:checked + .formMobileSearch .filterListWebLabelMobile::before {
  top: 0;
  width: 100%;
  height: 100%;
}
.formMobileSearch .filterListWebLabelMobile::before {
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  z-index: 2;
}
.formMobileSearch .filterListWebLabelMobile {
  position: relative;
  display:block;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 10px;
  line-height: 30px;
  cursor: pointer;
}
/* Checked */
.formMobileSearch input[type="checkbox"]:checked + .filterListWebLabelMobile,
.formMobileSearch input[type="radio"]:checked + .filterListWebLabelMobile {
  background: #E90052;
  border-radius:50px;
} 
/* Transition */
.formMobileSearch .filterListWebLabelMobile,
.formMobileSearch .filterListWebLabelMobile::before {
  -webkit-transition: .4s all ease-in-out;
  -o-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
}

.formMobileSearch .inputFilterMobile{
    width:100%!important; margin-bottom: 5px; margin-left:-5px;
}
/* placeholder center */
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
.formMobileSearch .searchFilterMobile {background:#E90052;color:#FFF; display: inline-block;}
.formMobileSearch .searchFilterMobile:hover {background:#E90052; color:#FFF;}

/* End filterMobile */

/* End Course Page */

/* Start Jobs Page */

/* Start Section jobs Container */
.coursesPage .jobsContainer {margin-top:0!important;}
.coursesPage .jobsContainer .itemHidden {display: none;}
.coursesPage .jobsContainer .activityCourse
{
     -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 5px 0 #eee;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    height: 500px;
}
.imgBox {
    display: block;
    width:auto;
    height: 110px;
    text-align: center;
}
.imgBox img {
    height: 110px;
    display: inline
}
.coursesPage .jobsContainer .activityCourse .activityButton {
    width:150px;
    display: inline-block;
    font-size:12px;
    margin: 5px;
    
}
.coursesPage .jobsContainer .activityCourseTitle h4 {
    color:#C0392B;
    text-align: center;
}
.coursesPage .jobsContainer .activityCourseOver
{
    position: absolute; 
    top:0; left:0; bottom:0; right:0; width: 100%; height: 100%; 
    background-color: rgba(237, 241, 243, 0.6);
    color:#C0392B;
    padding-top: 170px;
    text-align: center;font-weight: bold;font-size:20px;
    display: none;
}
.coursesPage .jobsContainer .activityCourse .activityCourseOver button {
    margin-top:10px;
}
.coursesPage .jobsContainer .activityCourse .activityCoursePrerequisites {color:cadetblue;}
.coursesPage .jobsContainer .activityCourse .starWrapper {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
}
.coursesPage .jobsContainer .activityCourse .starWrapper .starTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #17aa1c;
}
.coursesPage .jobsContainer .itemHidden {display:none;} 
.coursesPage .jobsContainer .showMore {
    background:#34495E;
    color:#eee;
    box-shadow: 0 0 2px 1px #fff;
    width: 130px;padding: 10px;border-radius: 10px;margin-top: 20px;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition: all .3 ease-in-out;
    border:none;
    margin-bottom:10px;
}
.coursesPage .jobsContainer .showMore:hover{box-shadow: 0 2px 10px 2px #C0392B;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;}
.coursesPage .jobsContainer .activityCourse .table .jobInfo,
.coursesPage .jobsContainer .activityCourse .table .courseInfo{color:#C0392B; font-weight: bold;}

@media (max-width: 767px) {
    .coursesPage .jobsContainer .activityCourse {
        height: 625px;
    }
}
/*End Section Courses Container */
/* End Jobs Page  */

/* start profile page */

.profile {
    margin-top: 50px;
    margin-bottom: 70px;
}
.profile .profileCover {
    min-height: 400px;
    background:url("../images/background.jpg");
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

}  
.profile .profileInfo {
    zoom:1;
    position: relative;
    z-index: 1;
    margin-top: -250px;
}
.profile .profileInfo .profileContent {
    background:rgba(238, 238, 238, .7);
    position: relative;
    background: #eee;
    padding-left:20px;
    padding-right: 20px;

}

/* Start Section Profile Image */
.profile .profileInfo .profileContent .profileImage {
    width: 150px;
    height: 250px;
    margin-top: 20px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    display: inline-block;
    vertical-align: top;
    max-height: 250px;
    min-height: 250px;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.profile .profileInfo .profileContent .profileImage .userImage {
    min-width:150px;
    max-width: 150px;
    min-height: 250px;
    max-height: 250px;
}
.profile .profileInfo .profileContent .profileImage .profileOver{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    display: none;
    border-radius: 50%;
    cursor: pointer;
    color:#FFF;
}
.profile .profileInfo .profileContent .profileImage .profileOver .fileUploader {
    justify-content: center;
    align-items: center;
    margin-left:10px;
}
.profile .profileInfo .profileContent .profileImage .profileOver .fileUploader .iconCamera {
    padding-top: 4em;
    display: none;
    color:#FFF;
}
.profile .profileInfo .profileContent .profileImage .profileOver .fileUploader .inputImage {color:#FFF; top:100px;}
.profile .profileInfo .profileContent .profileImage .profileOver .fileUploader #fileInput {
    display: none;
  }
.profile .profileInfo .profileContent .profileImage .profileOver .fileUploader label[for="fileInput"] {
    padding: 5px 5px;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }

/* End Section Profile Image */

/* Start Section user bio */
 .profile .profileInfo .profileContent .userBio {
    display: inline-block;
    margin-top:20px;
    width:60%;
    position: absolute;
    top: 30px;
    left: 275px;

}
@media (max-width:1023px) and (min-width: 768px) {
    .profile .profileInfo .profileContent .userBio {
        width: 45%!important;
        margin-left: 0!important;
        left: 270px!important;
    }
}
@media (max-width:767px) {
     .profile .profileInfo .profileContent .userBio {
        width: 100%;
        margin:0;
        position: relative;
        top:0;
        left:0;
        
    }
}

/* End Section user bio */

/* Start section profile content container */
.profile .profileInfo .profileContent .profileContainer {
    width:250px;
}
.profile .profileInfo .profileContent .profileBoxContent {
    width:250px;

}
/* end section profile content container */
/* Start Section profile UserName */

.profile .profileInfo .profileContent .profileUsername {
    width:100%;   
}
.profile .profileInfo .profileContent .profileUsername h2 {
    color:#C0392B
}
.profile .profileInfo .profileContent .profileUsername h4 {
    color:#34495E;
    font-size: 20px!important;
}
/* End Section Profile Username */

/* Start Section userContactInfo  */
.profile .profileInfo .profileContent .userContactInfo a, 
.profile .profileInfo .profileContent .userContactInfo h4 {
    text-decoration: none;
    color:#34495E;
    font-size:16px!important;
}
.profile .profileInfo .profileContent .userContactInfo h4 i {
    margin-right: 5px;
    font-size: 20px;
}

.profile .profileInfo .profileContent .userContactInfo .fa-phone {color:#34495E}
.profile .profileInfo .profileContent .userContactInfo .profileSocial i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
}
.profile .profileInfo .profileContent .userContactInfo .fa-facebook {background-color: #3B5998}
.profile .profileInfo .profileContent .userContactInfo .profileSocial .fa-twitter {background-color: #55ACEE}
.profile .profileInfo .profileContent .userContactInfo .profileSocial .fa-youtube {background-color: #C4302B}
.profile .profileInfo .profileContent .userContactInfo .profileSocial .fa-linkedin {background-color: #0077B5}
/* End Section userContactInfo */

.profile .profileInfo .profileContent .ChangeProfileImage .fileUploader {
    justify-content: center;
    align-items: center;
    margin-left:10px;
}
.profile .profileInfo .profileContent .ChangeProfileImage .fileUploader #fileInput{ display: none;}
.profile .profileInfo .profileContent .ChangeProfileImage .fileUploader label[for="fileInput"] {
    padding: 5px 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
.profile .profileInfo .profileContent .editProfile {
    padding:10px 10px;
    padding-left: 100px;
}
.profile .profileInfo .profileContent .editProfile i {
    cursor: pointer;
}
@media (max-width:414px){
    .profile .profileInfo .profileContent .editProfile{
        position: absolute;
        left: 300px;
        top: -35px;
        padding-left: 0!important;
    }
}
@media (max-width:375px) {
    .profile .profileInfo .profileContent .editProfile {left: 268px;}
}
@media (max-width:360px) {
    .profile .profileInfo .profileContent .editProfile {left: 250px;}
}
@media (max-width:320px) {
    .profile .profileInfo .profileContent .editProfile {left: 210px;}
}
.profile .profileInfo .profileContent .userCv {
    background: #d9534f;
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	color: #fff; 
    cursor: pointer;
    line-height: 40px;
    -webkit-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
    margin-top:10px;
    padding-right: 5px;
    padding-left: 5px;
}

.profile .profileInfo .profileContent .userCv .hideInput{
    position: absolute;
    top: 122px;
    right: 0;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    color:#F00;
}
@media (max-width:768px) {
    .profile .profileInfo .profileContent .userCv .hideInput{   
        top:12px;
    }
}
@media (max-width: 768px) and (orientation: landscape) { 
    .profile .profileInfo .profileContent .userCv {
        display: inline-block;
    }
}
.profile .profileInfo .profileContent .userCv:hover {
    -webkit-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
    box-shadow: 0 2px 20px rgba(0,0,0,0.7), inset 0 1px 0 rgba(255,255,255,0.4);
    background:rgba()
}

@media (min-width:467px) and (max-width:767px) {
    /* profile page */
    .profile .profileInfo .profileContent .userCv {
        font-size:9px!important;
        padding-left:5px;
        padding-right:5px;
    }
}
/* Start Profile About */

/* Start Main Style For Tabs ==> include Enrolled Courses Tab , Applied Jobs Tab , Portfolio Tab */
.profile .profileInfo .profileContent .profileAbout {
    background:transparent;
    margin-top:20px;
    min-height: 400px;
}  
.profile .profileInfo .profileContent .profileAbout .profileAboutTabs ul li.inactive {background:#CCC; color:#C0392B;}
.profile .profileInfo .profileContent .profileAbout .tabsDetails div[id^="tab"]:not(:first-of-type) {display: none;}
.profile .profileInfo .profileContent .profileAbout .profileAboutTabs .myTabs {width:100%;}
.profile .profileInfo .profileContent .profileAbout .profileAboutTabs .myTabs li {
    
    display: inline-block;
    width:16.66%;
    padding:10px;
    text-align: center;
    cursor: pointer;
    background:#c9302c;
    color:#FFF;
    
}

.profile .profileInfo .profileContent .profileAbout .tabsDetails {
    margin-top:30px
}

.profile .profileInfo .profileContent .profileAbout .tabsDetails .starWrapper
{
    position: relative;
    white-space: nowrap;
    display: inline-block;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .starWrapper .starTop
{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #17aa1c;  
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .activityCourse
{
     -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 5px 0 #eee;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    height: 450px;
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .activityCourse .activityCourseTitle h4
{
    color:#C0392B;
    text-align: center;
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .activityCourse .activityCoursePrerequisites {color: cadetblue;}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .activityCourse .table .jobInfo,
.profile .profileInfo .profileContent .profileAbout .tabsDetails .activityCourse .table .courseInfo {color: #C0392B; font-weight: bold;}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .activityCourse .activityCourseOver, 
.profile .profileInfo .profileContent .profileAbout .tabsDetails .activityCourse .activityCourseOver
{
    position: absolute; 
    top:0; left:0; bottom:0; right:0; width: 100%; height: 100%; 
    background-color: rgba(237, 241, 243, 0.6);
    color:#C0392B;
    padding-top: 170px;
    text-align: center;font-weight: bold;font-size:20px;
    display: none;
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .activityCourse .activityCourseOver button, 
.profile .profileInfo .profileContent .profileAbout .tabsDetails .activityCourse .activityCourseOver button {
    margin-top:10px;
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .portfolioItem {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 5px 0 #eee;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .portfolioItem .portfolioOver {
    display: none;
    position: absolute; 
    top:0; left:0; bottom:0; right:0; width: 100%; height: 100%; 
    background-color: rgba(237, 241, 243, 0.6);
    padding-top: 100px;
    text-align: center;font-weight: bold;font-size:20px;
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails .portfolioItem .portfolioMobileButtons  .portfolioButtons  {
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .profile .profileInfo .profileContent .profileAbout .tabsDetails #favouritJobsBox .activityCourse,
    .profile .profileInfo .profileContent .profileAbout .tabsDetails #activityJobsBox .activityCourse,
    .profile .profileInfo .profileContent .profileAbout .tabsDetails #tab4Content .activityCourse{
        height: 600px;
    }
}

/* End Main style for tabs */

/* Start Tab Skills ==> tab1Content */

.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab1Content .skillBox {
    height: 70px;
    width: 100%;
    font-family: sans-serif;
    -webkit-border-radius: 20px;
    border-radius: 55px;
    background: white;
    color: black;
    padding-top: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: .9s all ease-in-out;
    -o-transition: .9s all ease-in-out;
    transition: .9s all ease-in-out;
    cursor: pointer;
  
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab1Content .skillBox:hover {  
    box-shadow: 0 1px 10px 1px #C0392B;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
}

.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab1Content .skillsButton {
    width:113px;
    margin:5px;
}
/* End Tab Skills */

/* Start Activity Tab Main Style ==> tab2Content  */
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityButtons .inactive 
{background:#CCC; border:none; color:#C0392B;}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityButtons #activityCourses, 
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityButtons #activityJobs, 
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityButtons #activityProfiles, 
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityButtons #activityPortfolios {
    width:100px;
    margin:5px;    
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityBoxs #activityJobsBox,
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityBoxs #activityPortfoliosBox,
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityBoxs #activityProfilesBox {
    display: none;
}

.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityBoxs #activityProfilesBox .activityAvatar {
     -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 5px 0 #eee;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityBoxs #activityProfilesBox .activityAvatar .activityAvatarOver {
    display: none;
    position: absolute; 
    top:0; left:0; bottom:0; right:0; width: 100%; height: 100%; 
    background-color: rgba(237, 241, 243, 0.6);
    padding-top: 170px;
    text-align: center;font-weight: bold;font-size:20px;
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityBoxs #activityProfilesBox .activityAvatar .avatarButton {
    width:100px;
    margin-bottom: 10px;
}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content .activityBoxs #activityPortfoliosBox .portfolioItem .portfolioMobileButtons {margin-bottom: 10px;}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab2Content #activityJobsBox .activityCourse .activityButton {
     width:150px;
    display: inline-block;
    font-size:12px;
    margin: 5px; 
}
/* End Activity Tab  */

/* Start Tab Applied Jobs */
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab4Content .activityCourse .activityButton {
    width:150px;
    display: inline-block;
    font-size:12px;
    margin: 5px; 
}
/* End Tab Applied Jobs */

/* Start Favourits Tab */
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab6Content .favouritButtons { margin-bottom: 10px;}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab6Content .favouritButtons .inactive {background: #CCC; border:none; color:#C0392B;}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab6Content .activityBoxs #favouritJobsBox {display: none;}
.profile .profileInfo .profileContent .profileAbout .tabsDetails #favouritJobsBox .activityButton {
    width:150px;
    display: inline-block;
    font-size:12px;
    margin: 5px;
    
}

.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab6Content .favouritButtons #favouritCourses, 
.profile .profileInfo .profileContent .profileAbout .tabsDetails #tab6Content .favouritButtons #favouritJobs {
    width:100px;
    margin:5px;
}

/* End Favourits Tab */

/* End profile Page  */

/* Start View-Course Details Page */

.viewCourseDetails {
    margin-top:50px;
    margin-bottom: 60px
}
.viewCourseDetails .thumbnail{
    margin-top: 50px;
}
.viewCourseDetails .courseDetails {
    margin-bottom: 20px;
}
.viewCourseDetails .viewCourseFormMobile {margin-bottom: 10px;}
.viewCourseDetails .viewCourseForm {
    background:#34495E;
    color:#FFF;
    padding-left:10px;
    padding-right: 10px;
    width: 23%;
    overflow: auto;
    position: fixed;
    top:100px;
    -webkit-transition: .9s all ease-in-out;
    -o-transition: .9s all ease-in-out;
    transition: .9s all ease-in-out;
    height:auto;
}
.viewCourseDetails .viewCourseFormMobile .formButton, 
.viewCourseDetails .viewCourseForm .formButton{
    margin-top:10px;
    margin-bottom:10px;
}
.viewCourseDetails .courseInfo {color:#C0392B;}
.viewCourseDetails .table .courseInfo {font-weight: bold;}
.viewCourseDetails .viewCourseTabs ul li.inactive {background:#CCC; color:#C0392B;}
.viewCourseDetails .tabsDetails div[id^="tab"]:not(:first-of-type) {display: none;}

.viewCourseDetails .viewCourseTabs .myTabs {width:100%;}
.viewCourseDetails .viewCourseTabs .myTabs li {
    display: inline-block;
    width:16.66%;
    height:80px;
    padding:10px;
    text-align: center;
    cursor: pointer;
    background:#c9302c;
    color:#FFF;
    
}
.viewCourseDetails .tabsDetails #tab1Course {margin-top:10px; border: 1px solid #ccc;} 
/* Start Tab Course Prerequisites*/
.viewCourseDetails .tabsDetails #tab1Course .tabHeader h1 {color:#C0392B;}
.viewCourseDetails .tabsDetails #tab1Course .viewCoursDetailsHR {border:1px solid #34495E; width:80%;}
.viewCourseDetails .tabsDetails #tab1Course i { margin-top:30px;}
/* End Tab Course PreRequisites*/

/* Start Tab You Will Learn */
.viewCourseDetails .tabsDetails #tab2Course .courseDescription {margin-top:10px;}
.viewCourseDetails .tabsDetails #tab2Course .courseDescription p {font-size: 14px;}
/* End Tab You Will Learn */

/* Start Tab Videos and Exams */
.viewCourseDetails .tabsDetails #tab3Course .videos {
    margin-top:10px;
}
.viewCourseDetails .tabsDetails #tab3Course .videos #video1Content .InfoOfVideo span {
    border: 2px solid #CCC;
    margin-right: 10px;
}
.viewCourseDetails .tabsDetails #tab3Course .videos #video1Content, 
.viewCourseDetails .tabsDetails #tab3Course .videos #video2Content {
    color:#FFF;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -180px;
    display: none
}
.viewCourseDetails .tabsDetails #tab3Course #video1Content i, 
.viewCourseDetails .tabsDetails #tab3Course #video2Content i {
    position: absolute;
    top:-20px;
    left:380px;
    cursor: pointer;
}
@media only screen and  (max-width: 768px) {
    .viewCourseDetails .tabsDetails #tab3Course #video1Content i, 
    .viewCourseDetails .tabsDetails #tab3Course #video2Content i {
    position: absolute;
    top:-20px;
    left:340px;
    }
    .viewCourseDetails .tabsDetails #tab3Course .videos video {width:360px;}

}
@media only screen and (max-width: 360px) {
    .viewCourseDetails .tabsDetails #tab3Course #video1Content i, 
    .viewCourseDetails .tabsDetails #tab3Course #video2Content i {
    position: absolute;
    top:-20px;
    left:330px;
    }
    .viewCourseDetails .tabsDetails #tab3Course .videos video {width:350px; margin-left:4px;}
}
@media only screen and (max-width: 320px) {
    .viewCourseDetails .tabsDetails #tab3Course #video1Content i, 
    .viewCourseDetails .tabsDetails #tab3Course #video2Content i {
    position: absolute;
    top:-20px;
    left:310px;
    }
    .viewCourseDetails .tabsDetails #tab3Course .videos video {width:310px; margin-left:25px;}
}
@media only screen and (orientation: landscape ) {
    .viewCourseDetails .tabsDetails #tab3Course .videos #video1Content, 
    .viewCourseDetails .tabsDetails #tab3Course .videos #video2Content {
        color:#FFF;
        z-index: 9999;
        position: fixed;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -180px;
        display: none
    }
}
/* this div will add when click to play video */
.overylayForVideoPlay{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top:-100px;
}
/* End Tab Videos and exams*/

/* Start Tab FAQ */
.viewCourseDetails .tabsDetails #tab4Course .faq {padding: 40px 0;}
.viewCourseDetails .tabsDetails #tab4Course .faq h1 {font-family: "Raleway", sans-serif; letter-spacing: -3px;}
/* hr next h1 */
.viewCourseDetails .tabsDetails #tab4Course .faq h1 ~ hr {width:70%}
.viewCourseDetails .tabsDetails #tab4Course .faq-questions .panel-heading {padding: 15px}
.faq-questions .panel-heading a {text-decoration: none}
/* add icon from css .. by after and before .. without add it in html */
.viewCourseDetails .tabsDetails #tab4Course .faq-questions .panel-heading a p:after {
    font-family: "Glyphicons Halflings"; content: "\e114"; float:right; color:#444;
    margin-top:10px;
}
.viewCourseDetails .tabsDetails #tab4Course .faq-questions .panel-heading a.collapsed p:after {
    content: "\e080";
    color: #999;
    margin-top:10px;
}
.viewCourseDetails .tabsDetails #tab4Course .faqQuestion {
    margin-top:80px;
}
@media (max-width: 768px) {
    .viewCourseDetails .tabsDetails #tab4Course .faqQuestion {
        margin-top:50px;
    }
}
/* End Tab FAQ */

/* Start Tap About Instrucor */
.viewCourseDetails .tabsDetails #tab5Course .aboutInstrcutor {margin-top:10px;}
@media (max-width: 768px) {
    .viewCourseDetails .tabsDetails #tab5Course .aboutInstrcutor .instrucorInfo  h4,h5 {
        font-size:14px;
        font-weight: bold;
    }
    .viewCourseDetails .tabsDetails #tab5Course .aboutInstrcutor p {
        margin-left:5px;
    }
}
/* End Tap About Instructor */

/* Start Tab Rate Course */
.viewCourseDetails .tabsDetails #tab5Course .RateCourse .form-group textarea {height: 108px;}
.viewCourseDetails .tabsDetails #tab6Course .RateCourse h1 {color:#C0392B;}
.viewCourseDetails .tabsDetails #tab6Course .RateCourse .wrapper{
  right: 85%;
}
@media (max-width: 768px) {
    .viewCourseDetails .tabsDetails #tab6Course .RateCourse.viewCourseDetails .wrapper{
      right: 60%;
    }
}
.viewCourseDetails .tabsDetails #tab6Course .RateCourse .wrapper .star-wrapper{

}

.viewCourseDetails .tabsDetails #tab6Course .RateCourse .wrapper .star-wrapper input.star{
  display: none;
}

.viewCourseDetails .tabsDetails #tab6Course .RateCourse .wrapper .star-wrapper label.star {
  float: right;
  padding: 3px;
  font-size: 36px;
  transition: all .25s;
}
@media (max-width: 768px) {
    .viewCourseDetails .tabsDetails #tab6Course .RateCourse .wrapper .star-wrapper label.star {
      padding: 3px;
      font-size: 26px;
      
    }
}
.viewCourseDetails .tabsDetails #tab6Course .RateCourse .wrapper .star-wrapper input.star:checked ~ label.star:before {
  content:'\e006';
  color: gold;
  transition: all .5s;
}

.viewCourseDetails .tabsDetails #tab6Course .RateCourse.wrapper .star-wrapper label.star:hover{
  color: gold;
  transform: scale(1.3);
}

.viewCourseDetails .tabsDetails #tab6Course .RateCourse .wrapper .star-wrapper label.star:before{
  content:'\e007';
  font-family: 'Glyphicons Halflings';
}
/* End Tab Rate Course */



/* End View-Course Details Page */


/* Start View Job Details Page */
.viewJobDetails {
    margin-top:50px;
    margin-bottom: 60px
}
.viewJobDetails .thumbnail {
    margin-top: 50px;
}
.viewJobDetails .viewCourseFormMobile {margin-bottom: 10px;}
.viewJobDetails .viewCourseFormMobile .formButton,
.viewJobDetails .viewCourseForm .formButton
{
    margin-top:10px;
    margin-bottom:10px;
}
@media (min-width:1025px) {
    .viewJobDetails .followButton:hover:before {
        -webkit-transition: .9s all ease-in-out;
        -o-transition: .9s all ease-in-out;
        transition: .9s all ease-in-out;
        content: "";
        display: block;
        width: 0;
        border-width: 15px 15px 0;
        border-style: solid;
        border-color: #c9302c transparent;
        top: 188px;
        position: absolute;
        left: 139px;
    }
    .viewJobDetails .followButton {
    -webkit-transition: .9s all ease-in-out;
    -o-transition: .9s all ease-in-out;
    transition: .9s all ease-in-out;
}
}
.viewJobDetails .followText {
    display: none;
}
.viewJobDetails .viewCourseForm {
    background:#34495E;
    color:#FFF;
    padding-left:10px;
    padding-right: 10px;
    width: 23%;
    overflow: auto;
    position: fixed;
    top:100px;
    -webkit-transition: .9s all ease-in-out;
    -o-transition: .9s all ease-in-out;
    transition: .9s all ease-in-out;
    height:auto;
}
.viewJobDetails .viewCourseTabs ul li.inactive {background:#CCC; color:#C0392B;}
.viewJobDetails .table .courseInfo {font-weight: bold;}
.viewJobDetails .courseInfo {color:#C0392B;}
.viewJobDetails .viewCourseTabs h3 {color:#337ab7;}
.viewJobDetails .tabsDetails div[id^="tab"]:not(:first-of-type) {display: none;}
.viewJobDetails .viewCourseTabs .myTabs {width:100%;}
.viewJobDetails .viewCourseTabs .myTabs li {
    display: inline-block;
    width:16.66%;
    height:80px;
    padding:10px;
    text-align: center;
    cursor: pointer;
    background:#c9302c;
    color:#FFF;
    
}
/* Start Tab Job Requirements */

.viewJobDetails .tabsDetails #tab1Job .jobRequirements .jobRequirementsButtons {
    margin-top:10px;
    margin-bottom: 10px;
}
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .jobRequirementsButtons #mainRequirements, 
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .jobRequirementsButtons #skillsNeeded {
    width:150px;
    margin:5px;
}
/* start buton main requirements */
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .activityBoxs #mainRequirementsBox .content {
    padding:0 20px 0 20px;
    border-left:2px solid #CCC;
}
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .activityBoxs #mainRequirementsBox .content p {
    background-color: #FFF;
    padding: 10px;
    font-size: 16px;
    line-height: 1.7;
    border:1px solid #CCC;
    position: relative
}
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .activityBoxs #mainRequirementsBox .content p:before {
    content:"";
    display: block;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: #C0392B;
    border:2px solid #CCC;
    position: absolute;
    top:10px;
    left:-30px;
}
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .activityBoxs #mainRequirementsBox .content p:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ccc transparent transparent;
    border-width: 8px;
    position: absolute;
    left:-17px;
    top:10px;
}
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .jobRequirementsButtons .inactive {background: #CCC; border:none; color:#C0392B;}
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .activityBoxs #skillsNeededBox .viewCoursDetailsHR 
{border:1px solid #34495E; width:80%;}
/* End Button main Requirements */

/* Start Button Skills Needed */
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .activityBoxs #skillsNeededBox {border: 1px solid #ccc; display: none;}
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .activityBoxs #skillsNeededBox i { margin-top:30px;}
.viewJobDetails .tabsDetails #tab1Job .jobRequirements .activityBoxs #skillsNeededBox .tabHeader h1 {color:#C0392B;}
/* End Button Skills Needed */

/* Start Tab Job Description*/
.viewJobDetails .tabsDetails #tab2Job .jobDescribtion { margin-top:10px; }
.viewJobDetails .tabsDetails #tab2Job .jobDescribtion .activityBoxs  .content {
    padding:0 20px 0 20px;
    border-left:2px solid #CCC;
}
.viewJobDetails .tabsDetails #tab2Job .jobDescribtion .activityBoxs  .content p {
    background-color: #FFF;
    padding: 10px;
    font-size: 16px;
    line-height: 1.7;
    border:1px solid #CCC;
    position: relative
}
.viewJobDetails .tabsDetails #tab2Job .jobDescribtion .activityBoxs  .content p:before {
    content:"";
    display: block;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: #C0392B;
    border:2px solid #CCC;
    position: absolute;
    top:10px;
    left:-30px;
}
.viewJobDetails .tabsDetails #tab2Job .jobDescribtion .activityBoxs  .content p:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ccc transparent transparent;
    border-width: 8px;
    position: absolute;
    left:-17px;
    top:10px;
}
/* End Tab Job Description */

/* Start Tab About Company */
.viewJobDetails .tabsDetails #tab3Job .aboutCompany {margin-top:10px;}
/* End Tab About Company */

/* End View Job Details Page*/

/* start notification page */
.notification {
    margin-top:50px;
}

/* Start Main Style For Tabs ==> include Enrolled Courses Tab , Applied Jobs Tab , Portfolio Tab */
.notification .notificationContent {
    background:#eee;
    padding-left: 20px;
    padding-right: 20px;

}  
.notification .notificationContent .notificationTabs ul li.inactive {background:#CCC; color:#C0392B;}
.notification .notificationContent .tabsDetails div[id^="tab"]:not(:first-of-type) {display: none;}
.notification .notificationContent .notificationTabs .myTabs {width:100%;}
.notification .notificationContent .notificationTabs .myTabs li {
    
    display: inline-block;
    width:16.66%;
    padding:10px;
    text-align: center;
    cursor: pointer;
    background:#c9302c;
    color:#FFF;
    
}

.notification .notificationContent .tabsDetails {
    margin-top:30px;
    padding-bottom: 30px;
}
.notification .notificationContent .tabsDetails .activityCourse
{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 5px 0 #eee;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}
.notification .notificationContent .tabsDetails #tab1Content .activityCourse {height: 280px;}
.notification .notificationContent .tabsDetails #tab2Content .activityCourse {height: 315px;}


.notification .notificationContent .tabsDetails .activityCourse .activityCourseTitle h4
{
    color:#C0392B;
    text-align: center;
}
.courseTime {
    position: absolute;
    top:-15px;
    right:5px;
}
@media (max-width:768px) {
    .courseTime {width: 52px;}
    .courseTime h3 {font-size: 20px!important;}
}
.courseTime h3 span {color:#C0392B}
.notification .notificationContent .tabsDetails .activityCourse .activityCoursePrerequisites {color: cadetblue;}
.notification .notificationContent .tabsDetails .activityCourse .table .jobInfo,
.notification .notificationContent .tabsDetails .activityCourse .table .courseInfo {color: #C0392B; font-weight: bold;}
.notification .notificationContent .tabsDetails .activityCourse .activityCourseOver, 
.notification .notificationContent .tabsDetails .activityCourse .activityCourseOver
{
    position: absolute; 
    top:0; left:0; bottom:0; right:0; width: 100%; height: 100%; 
    background-color: rgba(237, 241, 243, 0.6);
    color:#C0392B;
    padding-top: 170px;
    text-align: center;font-weight: bold;font-size:20px;
    display: none;
}
.notification .notificationContent .tabsDetails .activityCourse .activityCourseOver button, 
.notification .notificationContent .tabsDetails .activityCourse .activityCourseOver button {
    margin-top:10px;
}
.notification .notificationContent .tabsDetails .portfolioItem {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 5px 0 #eee;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}
.notification .notificationContent .tabsDetails .portfolioItem .portfolioOver {
    display: none;
    position: absolute; 
    top:0; left:0; bottom:0; right:0; width: 100%; height: 100%; 
    background-color: rgba(237, 241, 243, 0.6);
    padding-top: 100px;
    text-align: center;font-weight: bold;font-size:20px;
}
.notification .notificationContent .tabsDetails .portfolioItem .portfolioMobileButtons  .portfolioButtons  {
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .notification .notificationContent .tabsDetails #favouritJobsBox .activityCourse,
    .notification .notificationContent .tabsDetails #activityJobsBox .activityCourse,
    .notification .notificationContent .tabsDetails #tab4Content .activityCourse{
        height: 600px;
    }
}

/* End Main style for tabs */

/* end notification page */
.gridrow:before,
.gridrow:after {
  content: "";
  display: table;
}

.gridrow:after {
  clear: both;
}

.gridrow {
  height: 100%;
  clear: both;
  padding: 0px;
  margin: 0 auto;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.agentVideo {
  background-color: #F3FFE2;
  height: 100%;
  font-family: verdana;
  margin-top: 20px;
  transition: all 0.3s;
}
.agentVideo .menu .logo {
  background-color: #1695A3;
  color: #F3FFE2;
  height: 200px;
  width: 100%;
  display: block;
  font-weight: 800;
  align-items: center;
  text-align: center;
  border-radius: 30px 30px 0 0;
}
.agentVideo .menu .logo p {
  font-size: 30px;
  width: 100%;
}
.agentVideo .menu .links {
  cursor: pointer;
  background-color: #ACF0F2;
  padding: 20px 5px;
  font-size: 16px;
  font-weight: 800;
  border: 1px solid #F3FFE2;
  align-items: center;
  transition: all 0.3s;
}
.agentVideo .menu .links span {
  font-size: 25px;
  font-weight: 100;
  font-family: arial;
}
.agentVideo .menu .links:after {
  content: '';
  margin-left: auto;
}
.agentVideo .menu .links:hover {
  transition: all 0.3s;
  background-color: #e8ffc9;
  font-weight: bold;
  color: #EB7F00;
}
.agentVideo .menu .links:last-child {
  border-radius: 0 0 30px 30px;
}
.agentVideo .menu .active {
  color: #EB7F00;
  background-color: #F3FFE2;
}
.agentVideo .menu .active:hover {
  background-color: #F3FFE2;
}
.agentVideo .content p {
  line-height: 2;
}
.agentVideo .content h2 {
  font-size: 26px;
  font-weight: 800;
  line-height: 3;
}
.agentVideo .content .pages {
  display: none;
}
.agentVideo .content .pages .wistia_embed {
  margin: 0 auto;
}
.agentVideo .content .pages .btn {
  cursor: pointer;
  margin: 10px 0px;
  background-color: #1695A3;
  color: #F3FFE2;
  padding: 20px 0px;
  text-align: center;
  width: 240px;
  border-radius: 30px;
  transition: all 0.3s;
    display: inline-block;
}
@media (max-width:768px) {
    .agentVideo .content .pages .btn {
        width: 150px;
    }
}
.agentVideo .content .pages .btn:hover {
  transition: all 0.3s;
  color: #EB7F00;
  background-color: #225378;
}
.agentVideo .content .pages .gray {
  cursor: default;
  background-color: #898c8c;
}
.agentVideo .content .pages .gray:hover {
  color: #F3FFE2;
  background-color: #898c8c;
}
.agentVideo .content .active {
  display: block;
}
@media only screen and (max-width: 990px) {
  .agent-video .col {
    width: 100%;
  }
  .agent-video .menu .links {
    padding: 10px 2px;
  }
  .agent-video .content .pages .btn {
    float: none;
  }
}
@media only screen and (max-width: 650px) {
  .agentVideo .content h2 {
    line-height: 1;
  }
  .agentVideo .content .pages {
    padding: 20px;
  }
}

.videoBox {
  position:relative;
  padding-bottom:56.25%;
  padding-top:35px;
  height:0;
  overflow:hidden;
}

.videoBox iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}



